body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.imagecontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.imagebox{
    width: 100px;
    height: 100px;
}

.red{
    background: red;
}
.blue{
    background: blue;
}
.purple{
    background: purple;
}
.green{
    background: green;
}
.orange{
    background: red;
}
